<div>
  <div class="page-header">
    <h1>{{ topic.name }}</h1>
  </div>
  
  <p>
    {{ topic.description }}
  </p>
</div>
<h3>Viestit: {{topic.Messages.length}}</h3>

<ul class="media-list" >
  <li ng-repeat="message in topic.Messages">
    <div class="media-body">
      <h4 class="media-heading">
        <a href="#/messages/{{message.id}}">{{ message.title }}</a>
      </h4>

      <p>
        {{ message.content }}
      </p>

      <p class="text-muted">
        {{ message.User.username }}, {{message.createdAt  | date:"MM/dd/yyyy 'at' h:mma"}}
      </p>
    </div>
  </li>
</ul>
<div ng-if="userLoggedIn">
<h2>Lisää oma viestisi</h2>
  <form>
    <div class="form-group">
      <label>Otsikko</label>
      <input type="text" class="form-control" ng-model="$parent.newMessage.title">
    </div>
  
    <div class="form-group">
      <label>Viesti</label>
      <textarea class="form-control" ng-model="$parent.newMessage.content"></textarea>
    </div>
    <button class="btn btn-success" ng-click="sendMessage()">Lisää viesti</button>
  </form>
</div>