<div class="page-header">
  <h1>Rekisteröidy</h1>
</div>

<form>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" class="form-control" ng-model="regUser.username">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="password" class="form-control" ng-model="regUser.password">
  </div>

  <div class="form-group">
    <label>Salasana uudelleen</label>
    <input type="password" class="form-control">
  </div>

  <button class="btn btn-success" ng-click="registerUser()">Rekisteröidy</button>
</form>
